.fonddiv{
	text-align:center;
	color:black;
	background-color:yellow;
	font-size:8;
	font-family:Open sans;
	}
.fonddiv2{
	text-align:justify;
	color:#64343c;
	background-color:white;
	font-family:times new roman;
	font-size:10;
	}