.titudiv{
	text-align:center;
	color:white;
	background-color:#64343c;
	}
.titudiv2{
	text-align:left;
	color:#64343c;
	background-color:white;
	}
.piediv{
	text-align:center;
	color:white;background-color:black;
	font-size:5;font-weight:bold;
	}
.cabezera{
	color:gray;
	font-size:10;
	font-family:Open Sans;
	font-weight:bold;
	}
.ct{
	background-color:rgba(0,0,0,0.6);
	}
a{
	text-decoration:none;
	color:white;
}